/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: grid;
}

.header {
  text-align: center;
  margin-bottom: 5px;
  border-radius: 12px;
}

h1 {
  color: #333;
}

h2 {
  color: #666;
  margin: 6px;
}

/* File list styles */
select#file-list {
  width: 80%;
  margin-left: 10%;
  min-height: 30ex;
}


/* Form styles */
form {
  margin-top: 10px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  border-radius: 8px;
}

button:hover {
  background-color: #0056b3;
}

.panel {
    margin: 10px;

}

.edit-panel {

}

.info-panel {

}

.doc-panel {
  margin-top: 2ex;
}

.doc-panel div {
  column-gap: 6px;
  background: #ccc;
  justify-self: stretch;
  padding: 1em;
  border-radius: 5px;
}

.panel .header {
  background-color: yellow;
  margin-bottom: 1ex;
}

.panel.collapsed {
  display: none;
}

.hidden {
  display: none;
}

textarea#alert-text {
  height: 15ex;
}
.button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    color: #f68;
    border-color: #888;
    outline: 0; }